<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login with Node js</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <% if (login) {%>
        <h2>The user connected is: <strong><%= name %></strong></h2>
        <a href="logout" class="btn_index_login">Log out</a>
    <% } else {%>
        <h2> <%= name %> </h2>
        <a href="login" class="btn_index_login">Go to login</a>
    <% } %>
</body>
</html>